#code-textarea {
  height: 0;
  position: fixed;
  top: -1000px;
  width: 0;
}

.code-wrapper {
  position: relative;
}

.code-wrapper i {
  color: #c1c7cd;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  right: 1em;
  top: 1em;
}

.code-wrapper pre {
  background: #f7f8f9;
  border-radius: 3px;
  counter-reset: line;
  font-size: 15px;
}

.code-expand-collapse{
	background:#e7e7e7;
	color:#2674BA;
	font-weight:bold;
	padding:5px 10px;
}

.tab-code-expand-collapse{
	color:#2674BA;
	background:#e7e7e7;
	font-weight:bold;
	padding:5px 10px;
	margin-bottom:5px
}